{% extends "index.html" %}
{% block a %}
    <div class="container-fluid">
        <form method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="email">User Query</label>
            <input type="text" required  class="form-control" name="query" id="email">
          </div>
          
          <button type="submit" class="btn btn-default btn-success">Search</button>
        </form>
      </div>
      <div class="container-fluid">
          <div class="form-group">
              <label for="email"> {{A}}</label>
              <table class="table">
                  <thead>
                   
                  </thead>
                  <tbody>
                    {% for al in data %}
                      <tr>
                        <td>{{al.0}}</td>
                        <td>{{al.1}}</td>
                        <td>{{al.2}}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
    </div>

    {% endblock %}